:root {
  --accent-color: #2196f3;
  --white-txt-color: #ffffff;
  --text-benef-tel-filter-col: #757575;
  --text-headlink-team-beneftype-col: #212121;
  --footer-hero-bcg-color: #2f303a;
  --ind-hero-btn-hover-bcg-col: #188ce8;
  --ind-team-section-bcg-col: #f5f4fa;
  --main-bcg-color: #ffffff;
  --portfolio-btn-bcg-col: #f5f4fa;
  --logo-header-col: #000000;
  --footer-mail-tel-txt-col: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--main-bcg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

/* lists style */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  /* outline: 1px solid red; */

  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

/* ------------------------------header style ------------------------------*/

.header-style {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.71;
  color: var(--accent-color);
  text-decoration: none;
}

.header-logo {
  color: var(--logo-header-col);
  text-decoration: none;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-item {
  margin-right: 50px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.header-link,
.header-link-current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link-current {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-headlink-team-beneftype-col);
  text-decoration: none;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.head-contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.head-contact-item {
  margin-right: 50px;
}

.head-contact-item:last-child {
  margin-right: 0;
}

.header-mail {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-benef-tel-filter-col);
  text-decoration: none;
  list-style: none;
}

.header-mail,
.header-tel {
  display: flex;
  align-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-benef-tel-filter-col);
  text-decoration: none;
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.contact-icon {
  margin-right: 10px;
  fill: var(--text-benef-tel-filter-col);
}

.header-mail:hover .contact-icon,
.header-mail:focus .contact-icon,
.header-tel:hover .contact-icon,
.header-tel:focus .contact-icon {
  fill: var(--accent-color);
}

/* ------------------------------footer style------------------------------ */
.footer {
  background-color: var(--footer-hero-bcg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.foot-logo-adress-box {
  margin-right: 70px;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.footer-logo {
  color: var(--white-txt-color);
}

.address-item {
  display: block;
  margin-bottom: 9px;
}

.address-item:last-child {
  margin-bottom: 0;
}

.geoposition {
  font-style: normal;
  line-height: 1.71;
  color: var(--white-txt-color);
  text-decoration: none;
}
.geoposition:hover,
.geoposition:focus {
  color: var(--accent-color);
}

.footer-mail,
.footer-tel {
  font-style: normal;
  line-height: 1.71;
  color: var(--footer-mail-tel-txt-col);
  text-decoration: none;
}
.footer-tel:hover,
.footer-tel:focus,
.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.foot-socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot-socials {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-txt-color);
  margin-bottom: 20px;
}

.foot-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  background-color: #ffffff1a;
}

.foot-socials-link:hover,
.foot-socials-link:focus {
  background-color: var(--accent-color);
}

.foot-socials-item {
  margin-right: 10px;
}

.foot-socials-item:last-child {
  margin-right: 0;
}

.foot-socials-icon {
  fill: #ffffff;
}

/* ------------------------------index style------------------------------ */
/* -----------------hero----------------- */
.hero {
  max-width: 1600px;
  max-height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--footer-hero-bcg-color);
  background-image: linear-gradient(#2f303a66, #2f303a66), url(../images/bcg/hero-bcg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-description {
  display: block;
  width: 696px;
  height: 120px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-txt-color);
}

.hero-btn {
  margin-right: auto;
  margin-left: auto;

  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-txt-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ind-hero-btn-hover-bcg-col);
}

/* -----------------benefits----------------- */
.benefits-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-list {
  display: flex;
  align-items: center;
}
.benefits-item {
  display: block;
  width: 270px;
  margin-right: 30px;
}

.benefits-icon-place {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.benefits-item:last-child {
  margin-right: 0;
}

.benefits-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--text-headlink-team-beneftype-col);
}

.benefits-description {
  line-height: 1.71;
  color: var(--text-benef-tel-filter-col);
}

/* -----------------about and team----------------- */

.about-section {
  padding-bottom: 94px;
}

.about {
  display: block;
  align-items: center;
  margin-bottom: 50px;
}

.about-list {
  display: flex;
}

.about-item {
  display: block;
  margin-right: 30px;
}
.about-item:last-child {
  margin-right: 0;
}

.team-section {
  background-color: var(--ind-team-section-bcg-col);
  padding-top: 94px;
  padding-bottom: 94px;
}

.about,
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--text-headlink-team-beneftype-col);
}

.team {
  display: block;
  align-items: center;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  align-items: center;
}

.member-card {
  margin-right: 30px;
  width: 270px;
  height: 428px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-bcg-color);
}

.member-card:last-child {
  margin-right: 0;
}

.team-name-position {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--text-headlink-team-beneftype-col);
}

.member-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--text-benef-tel-filter-col);
  margin-bottom: 16px;
}

/* Social icons */

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  background-color: var(--main-bcg-color);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
}

.socials-item {
  margin-right: 10px;
}

.socials-item:last-child {
  margin-right: 0;
}

.socials-icon {
  fill: #afb1b8;
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: #ffffff;
}

/* ------------------ our clients ----------------- */
.clients-section {
  padding-top: 84px;
  padding-bottom: 94px;
}

.clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--text-headlink-team-beneftype-col);
}

.clients {
  display: block;
  align-items: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-icon {
  fill: #afb1b8;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}
/* ------------------------------porfolio style------------------------------ */
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-btn-list {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 50px;
}

.portfolio-btn-item {
  margin-right: 8px;
}

.portfolio-btn-item:last-child {
  margin-right: 0;
}

.btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--text-headlink-team-beneftype-col);
  background: var(--portfolio-btn-bcg-col);

  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--white-txt-color);
  background-color: var(--accent-color);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  box-sizing: border-box;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-item-link {
  display: block;
  text-decoration: none;
}

.portfolio-item-link:hover,
.portfolio-item-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.descr-filtname-grp {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.description,
.filter-name {
  display: block;
}

.description {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-headlink-team-beneftype-col);
}

.filter-name {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-benef-tel-filter-col);
}
